<a href="https://colab.research.google.com/github/hane94/Machine-Learning-Practice/blob/master/lesson4_tabular(hyeseon).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tabular models

In [0]:
from fastai.tabular import *

Tabular data should be in a Pandas `DataFrame`.

In [2]:
path = untar_data(URLs.ADULT_SAMPLE) #Adult sample dataset사용
df = pd.read_csv(path/'adult.csv') #default , read 'csv file(dataframe)' into a data frame / pandas

Downloading http://files.fast.ai/data/examples/adult_sample

In [0]:
dep_var = 'salary' #dependent variable
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize] #process / MissingValue / catecorial variables / continuous variables

In [0]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [0]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000))) #list of indexes
                           .label_from_df(cols=dep_var)#cols = column
                           .add_test(test)
                           .databunch())

Datablock API사용 - TabularList.from_df

Categorial Variables : cat_names

Continuous Variables : cont_names

Tabular데이터에서는 Transform대신 processes를 하는데 두개가 거의 비슷

pre-process the data frame

In [6]:
data.show_batch(rows=10) #data

In [0]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [8]:
learn.fit(1, 1e-2)

## Inference

In [0]:
row = df.iloc[0]

In [10]:
learn.predict(row)

(Category >=50k, tensor(1), tensor([0.4347, 0.5653]))